 # Opis notatnika
 W tym notatniku skupimy się na stworzeniu dedykowanej bazy danych wraz ze strukturą tabel. Jednak w tym momencie nie będziemy jej uzupełniać danymi - tym zajmiemy się w kolejnej części.
  
Inicjacja bazy danych zostanie wykonana w notatniku, nie bezpośrednio na Postgresie.

Zaimportowanie potrzebnych bibliotek

In [1]:
import psycopg2

 ## Połączenie z bazą danych

Zdefiniowanie zmiennej `con` oraz `cursor`

In [2]:
con = psycopg2.connect(
    host='localhost',
    user='postgres',
    password='al2cx7hsixj',  # Przypadkowe, nieprawdziwe hasło
    dbname='airlines', 
)
cursor = con.cursor()

In [3]:
# Wczytanie pliku database_schema.sql jako string. Plik zawiera już przygotowane komendy tworzące tabele, gotowe do uruchomienia.

with open(r"C:\Coderslab_Analityk_kurs\Projekt_koncowy\sql\database_schema.sql", "r", encoding="utf-8") as sql_file:
    sql_content = sql_file.read()
    sql_content = sql_content.replace('\n', ' ')

In [ ]:
'''
Treść pliku database_schema.sql:

    DROP TABLE IF EXISTS public.aircraft CASCADE;
    CREATE TABLE IF NOT EXISTS public.aircraft
    (
        id serial,
        manufacture_year bigint,
        tail_num text,
        number_of_seats double precision
    )
    ;

    CREATE OR REPLACE VIEW public.v_aircraft_blocker AS
    SELECT 1 FROM public.aircraft LIMIT 1;

    DROP TABLE IF EXISTS public.airport_weather CASCADE;
    CREATE TABLE IF NOT EXISTS public.airport_weather
    (
        id serial,
        station text,
        name text,
        date text,
        awnd double precision,
        pgtm double precision,
        prcp double precision,
        snow double precision,
        snwd double precision,
        tavg double precision,
        tmax double precision,
        tmin double precision,
        wdf2 double precision,
        wdf5 double precision,
        wsf2 double precision,
        wsf5 double precision,
        wt01 double precision,
        wt02 double precision,
        wt03 double precision,
        wt04 double precision,
        wt05 double precision,
        wt06 double precision,
        wt07 double precision,
        wt08 double precision,
        wt09 double precision,
        wesd double precision,
        wt10 double precision,
        psun double precision,
        tsun double precision,
        sn32 double precision,
        sx32 double precision,
        tobs double precision,
        wt11 double precision,
        wt18 double precision
    )
    ;

    /* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/
    CREATE OR REPLACE VIEW public.v_aircraft_weather_blocker AS
    SELECT 1 FROM public.airport_weather LIMIT 1;

    DROP TABLE IF EXISTS public.flight CASCADE;
    CREATE TABLE IF NOT EXISTS public.flight
    (
        id serial,
        month bigint,
        day_of_month bigint,
        day_of_week bigint,
        op_unique_carrier text,
        tail_num text,
        op_carrier_fl_num bigint,
        origin_airport_id bigint,
        dest_airport_id bigint,
        crs_dep_time bigint,
        dep_time double precision,
        dep_delay_new double precision,
        dep_time_blk text,
        crs_arr_time bigint,
        arr_time double precision,
        arr_delay_new double precision,
        arr_time_blk text,
        cancelled double precision,
        crs_elapsed_time double precision,
        actual_elapsed_time double precision,
        distance double precision,
        distance_group bigint,
        carrier_delay double precision,
        weather_delay double precision,
        nas_delay double precision,
        security_delay double precision,
        late_aircraft_delay double precision,
        year bigint
    )
    ;

    /* BLOCKER TO FORCE USAGE if_exists in PANDAS REMOVE IF OBSTACLE*/
    CREATE OR REPLACE VIEW public.v_flight_blocker AS
    SELECT 1 FROM public.flight LIMIT 1;

    DROP TABLE IF EXISTS public.airport_list CASCADE;
    CREATE TABLE IF NOT EXISTS public.airport_list
    (
        id serial,
        origin_airport_id bigint,
        display_airport_name text ,
        origin_city_name text ,
        name text 
    )
    ;

    CREATE OR REPLACE VIEW public.v_airport_list_blocker AS
    SELECT 1 FROM public.airport_list LIMIT 1

'''

Rozdzielenie zawartość pliku `database_schema.sql` na mniejsze kwerendy używając `;`

In [4]:
kwer = sql_content.split(";")

# Sprawdzenie liczby znalezionych w pliku polecen - założono, że zostały oddzielone znakiem ;

len(kwer)

12

 Wykonanie każdej z kwerend, aby zainicjować strukturę bazy danych

In [5]:
for k in range(len(kwer)): 
    print("Executing query nr: ", k)  # Zapis w celu monitorowania które polecenie jest wykonywane
    cursor.execute(kwer[k])

Executing query nr:  0
Executing query nr:  1
Executing query nr:  2
Executing query nr:  3
Executing query nr:  4
Executing query nr:  5
Executing query nr:  6
Executing query nr:  7
Executing query nr:  8
Executing query nr:  9
Executing query nr:  10
Executing query nr:  11

 Zatwierdznie wszystkich operacji na bazie, czyli stworzenie tabel

In [6]:
con.commit()

 # Podsumowanie
 Za pomocą tego notatnika została zbudowana w sposób automatyczny nasza docelowa baza danych. 
 W kolejnym notatniku tabele zostaną uzupełnione pobranymi danymi.